.container {
    text-align: middle;
    color: white;
    background-color: black;
    height: 192px;
    width: 430px;
    padding-top: 5px;
    padding-left: 75px;
    display: inline-block;
}
@media screen and (min-width: 0px) and (max-width: 768px) {
    .container {
        width: 70%;
    }
  }
.suscribir {
    writing-mode: vertical-rl;
    color: black;
    display: inline-block;
    width: 15px;
    height: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    margin-left: 20px;
    font-family: 'Old Standard TT', serif;
    font-weight: 700;
    

}

.news {
    font-size: 32px;
}

.correo {
    font-weight: 400;
}

